<header>
    <h1>Best Books!</h1>
    <nav class="main-navigation">
        <div class="icon-menu"></div>
        <div class="desktop-nav">
            <ul>
                <li><a href="/">Saved Books</a></li>
                <li><a href="/new">Add Book</a></li>
                <li><a href="/searches/new">Search API</a></li>
            </ul>
        </div>
    </nav>
</header>