<header>
    <h1>Best Books!</h1>
    <div class="main-navigation">
        <ul>
            <li><a href="/new">Add New Book</a></li>
            <li><a href="/">Saved Books</a></li>
        </ul>
    </div>
</header>