<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
        <title>New Book</title>
    </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <section class="create-view container">
        <h2 class="header-two">Add a New Book</h2>
        <form id="add-new-book" action="/books" method="post">
          <input type="text" class="field-entry" name="author" placeholder="Author" required>
          <input type="text" class="field-entry" name="title" placeholder="Title" required>
          <input type="text" class="field-entry" name="isbn" placeholder="ISBN" required>
          <input type="text" class="field-entry" name="image_url" placeholder="Image URL" required>
          <textarea class="field-entry" name="description" placeholder="Book Description" required cols="30" rows="10"></textarea>
          <button type="submit" class="button">Add This Book</button>
        </form>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>