<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Error!!</title>
</head>
<body>
    <%- include('../partials/header') %>

    <h1 id="error">You Got An Error My Dudes!</h1>

    <%- include('../partials/footer') %>
</body>
</html>