.book-title {
    font-size: 1.6em;
    margin-top: .8em;
    margin-bottom: .3em;
    letter-spacing: .4px;
  }

.book-author {
    font-size: 1em;
    font-style: italic;
}

.view-details {
    background-color: #000000;
    font-size: 1.1em;
    border: none;
    color: #ffffff;
    padding: 25px 35px 25px 35px;
    margin-top: 2em;
}

.view-details:hover {
    background-color: #505050; 
}