.book-title {
    width: 80%;
    font-size: 1.9em;
    margin-top: .8em;
    margin-bottom: .6em;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: .9px;
    color: #ffffff;
    text-shadow: 1px 1px 5px #282828;
  }

.book-author {
    font-size: 1.3em;
    font-style: italic;
    color: #282828;
}

.button {
    background-color: #000000;
    font-size: 1.1em;
    border: none;
    color: #ffffff;
    padding: 25px 35px 25px 35px;
    margin-top: 2em;
}

.button a {
    text-decoration: none;
    color: #ffffff;
}

.button:hover {
    background-color: #505050; 
}

.individual-page {
    background-color: #000000;
    font-size: 1.1em;
    border: none;
    color: #ffffff;
    padding: 25px 35px 25px 35px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.individual-page a {
    text-decoration: none;
    color: #ffffff;
}

.individual-page:hover {
    background-color: #505050; 
}

.book-description {
    color: #282828;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: 1.5em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.book-isbn {
    color: #282828;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 1.7em;
}

#add-new-book {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.field-entry {
   border-style: inset;
   font-size: 1em;
   padding: 0.6em;
   border-radius: .3em;
   display: block;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 1.3em;
}

#hide-me input, #hide-me textarea {
    display: none;
}

form button {
    display: inline-block;
}

#search-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

input[type=radio] {
    display: inline-block;
    font-size: 2em;
    width: auto;
  }

  fieldset {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    color: #ffffff;
  }
  
  fieldset label {
    font-size: 1.2em;
  }

@media only screen and (min-width: 640px) {
    .icon-menu {
      display: none;
    }
  
    nav ul {
      display: block;
      float: right;
    }
  
    nav ul li {
      display: inline;
      border-bottom: none;
    }
}
